.first {
  color: transparent;
  background: linear-gradient(90deg, #7aff87 0%, #e479ff 49.65%, #ff4158 100%);
  background-clip: text;
}

.second {
  color: #ff9b3f;
  filter: drop-shadow(0 0 1px #ff9b3f);
}

.third {
  color: #71f6ff;
  filter: drop-shadow(0 0 1px #71f6ff);
}
