@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--tg-theme-secondary-bg-color, white);
}

h1 {
  font-size: 5.61rem;
}

h2 {
  font-size: 4.209rem;
}

h3 {
  font-size: 3.157rem;
}

h4 {
  font-size: 2.369rem;
}

h5 {
  font-size: 1.777rem;
}

h6 {
  font-size: 1.333rem;
}

p {
  font-size: 1rem;
}

small {
  font-size: 0.75rem;
}
