@keyframes appearFromBeneath {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0px);
  }
}

.tab_wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-inline: auto;
  padding-inline: 5%;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 100px);
  background-color: rgb(14, 14, 14, 0.95);
  animation: appearFromBeneath 0.2s ease-in-out 1;
}

.section_with_border {
  border: 1px solid white;
  height: calc(100% - 60px);
  padding-inline: 5%;
}
