.slider {
  width: 100%;
  cursor: pointer;
  background: transparent;
  outline: none;
}

.slider::-webkit-slider-runnable-track {
  background-color: white;
  border-radius: 10px;
  height: 6px;
}

.slider::-moz-range-track {
  background-color: white;
  border-radius: 10px;
  height: 6px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -10px;
  border-radius: 50%;
  border: none;
  background-color: white;
  height: 26px;
  width: 26px;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -10px;
  border-radius: 50%;
  border: none;
  background-color: white;
  height: 26px;
  width: 26px;
}

.slider::-webkit-slider-thumb:focus,
.slider::-moz-range-thumb:focus {
  outline: none;
}
