.slider {
    width: 100%;
    cursor: pointer;
    background: transparent;
    outline: none;

    &::-webkit-slider-runnable-track {
        background-color: white;
        border-radius: 10px;
        height: 6px;
    }

    &::-moz-range-track {
        background-color: white;
        border-radius: 10px;
        height: 6px;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        margin-top: -13px;
        border-radius: 0;
        border: none;
        background-color: white;
        height: 26px;
        width: 6px;

        &:focus {
            outline: none;
        }
    }

    &::-moz-range-thumb {
        -webkit-appearance: none;
        appearance: none;
        margin-top: -13px;
        border-radius: 0;
        border: none;
        background-color: white;
        height: 26px;
        width: 6px;

        &:focus {
            outline: none;
        }
    }
}
